name: Load Test

on:
  workflow_dispatch:   

env:
  LOADTEST_RESOURCE_GROUP: hackathon-staging
  LOADTEST_RESOURCE_NAME: LoadTestProd24
  TARGET_URL: "https://eshoponweb-webapp-Hackathon.azurewebsites.net/" 
  RPS: 20
  DURATION: "2m"

jobs:
  run-loadtest:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    # Run the load test
    - name: Azure Load Testing
      uses: azure/load-testing@v1.1.27
      with:
        loadTestConfigFile: 'config.yaml'
        loadTestResource: ${{ env.LOADTEST_RESOURCE_NAME }}
        resourceGroup: ${{ env.LOADTEST_RESOURCE_GROUP }}
        env: |
          [
            {
            "name": "webapp",
            "value": "${{ env.TARGET_URL }}"
            }
          ]

    - name: Upload Load Test Results
      uses: actions/upload-artifact@v4
      with:
        name: loadtest-results
        path: |
          **/azureloadtesting*.json
          **/results/**
